<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 인증 메일</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table style="border: 0; border-spacing: 0; width: 100%">
      <tr>
        <td style="font-size: 0; line-height: 0; width: 600px; height: 20px">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <!-- cellpadding -->
          <table
            cellpadding="0"
            style="
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-color: #c7c7c7;
              border-width: 1px;
              border-style: solid;
              background-color: #ffffff;
              border-spacing: 0;
              margin-inline-start: auto;
              margin-inline-end: auto;
              width: 600px;
            ">
            <tr>
              <td style="font-size: 0; line-height: 0; height: 75px">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 100%" align="center">
                <img src="iconLogo.svg" alt="sopt-logo" width="94" height="32" style="display: block" />
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0; height: 13px">&nbsp;</td>
            </tr>
            <tr>
              <td
                style="
                  color: #0f1012;
                  font-family: 'SUIT', sans-serif;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 60px;
                  letter-spacing: -0.32px;
                  text-align: center;
                ">
                회원 인증 메일
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0; height: 49px">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <!-- cellpadding -->
                <table style="border: 0; border-spacing: 0; width: 100%" cellpadding="0">
                  <tr>
                    <td
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                        text-align: center;
                      ">
                      본 이메일 인증은 SOPT계정 설정을 위한 필수사항입니다.
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0; height: 4px">&nbsp;</td>
                  </tr>
                  <tr>
                    <td
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                        text-align: center;
                      ">
                      아래 <b style="font-weight: 700; letter-spacing: -0.32px">인증번호 6자리를</b> 입력한 후
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0; height: 4px">&nbsp;</td>
                  </tr>
                  <tr>
                    <td
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                        text-align: center;
                      ">
                      홈페이지에서 남은 절차를 완료하여 주시길 바랍니다.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0; height: 48px">&nbsp;</td>
            </tr>
            <tr>
              <!-- FIXME -->
              <td style="width: 100%" align="center">
                <!-- cellpadding -->
                <table style="border: 0; border-spacing: 0" cellpadding="0">
                  <tr>
                    <td style="border-top-left-radius: 12px; background-color: #f0f0f0">&nbsp;</td>
                    <td style="font-size: 0; line-height: 0; background-color: #f0f0f0; height: 15px">&nbsp;</td>
                    <td style="border-top-right-radius: 12px; background-color: #f0f0f0">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0; width: 32px; background-color: #f0f0f0">&nbsp;</td>
                    <td
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 3.5px;
                        background-color: #f0f0f0;
                        text-align: center;
                      ">
                      <span><%= verificationCode %></span>
                    </td>
                    <td style="font-size: 0; line-height: 0; width: 32px; background-color: #f0f0f0">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="border-bottom-left-radius: 12px; background-color: #f0f0f0">&nbsp;</td>
                    <td style="font-size: 0; line-height: 0; background-color: #f0f0f0; height: 15px">&nbsp;</td>
                    <td style="border-bottom-right-radius: 12px; background-color: #f0f0f0">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0; height: 62px">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size: 0; line-height: 0; height: 17px">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <!-- cellpadding -->
          <table style="border: 0; border-spacing: 0; width: 100%" cellpadding="0">
            <tr>
              <td style="font-size: 0; line-height: 0; width: 22px">&nbsp;</td>
              <td
                style="
                  color: #66666d;
                  font-family: 'SUIT', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: -0.32px;
                ">
                본 메일은 발신전용 메일로, 문의 및 회신하실 경우 답변되지 않습니다.
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0; width: 22px">&nbsp;</td>
              <td
                style="
                  color: #66666d;
                  font-family: 'SUIT', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: -0.32px;
                ">
                메일내용에 대해 궁금한 사항이 있으시다면 ‘문의하기' 링크를 통해 문의해주시길 바랍니다.
                <a href="https://pf.kakao.com/_JdTKd" target="_blank" rel="noreferrer noopener">문의하기</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size: 0; line-height: 0; height: 30px">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
