<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지원서 접수 확인 메일</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="font-size: 0; line-height: 0" width="600" height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table
            bgcolor="#ffffff"
            align="center"
            cellpadding="0"
            cellspacing="0"
            width="600"
            style="
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              border-color: #c7c7c7;
              border-width: 1px;
              border-style: solid;
            ">
            <!-- logo -->
            <tr>
              <td style="font-size: 0; line-height: 0" height="75">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">
                <img src="iconLogo.svg" alt="sopt-logo" width="94" height="32" style="display: block" />
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0" height="13">&nbsp;</td>
            </tr>
            <!-- title -->
            <tr>
              <td
                align="center"
                style="
                  color: #0f1012;
                  font-family: 'SUIT', sans-serif;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 60px;
                  letter-spacing: -0.32px;
                ">
                지원서 접수 확인 메일
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0" height="29">&nbsp;</td>
            </tr>
            <!-- description -->
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                      ">
                      김솝트님의 35기 SOPT 기획파트
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0" height="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                      ">
                      지원서가 성공적으로 접수되었습니다!
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0" height="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      style="
                        color: #0f1012;
                        font-family: 'SUIT', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: -0.24px;
                      ">
                      SOPT에 많은 관심을 주셔서 감사합니다.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0" height="75">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size: 0; line-height: 0" height="17">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600px">
            <tr>
              <td style="font-size: 0; line-height: 0" width="22">&nbsp;</td>
              <td
                style="
                  color: #66666d;
                  font-family: 'SUIT', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: -0.32px;
                ">
                본 메일은 발신전용 메일로, 문의 및 회신하실 경우 답변되지 않습니다.
              </td>
            </tr>
            <tr>
              <td style="font-size: 0; line-height: 0" width="22">&nbsp;</td>
              <td
                style="
                  color: #66666d;
                  font-family: 'SUIT', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: -0.32px;
                ">
                메일내용에 대해 궁금한 사항이 있으시다면 ‘문의하기' 링크를 통해 문의해주시길 바랍니다.
                <a href="https://pf.kakao.com/_JdTKd">문의하기</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size: 0; line-height: 0" height="30">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
